// Variables for colors
$primary-color: #31C2E4;
$hover-primary: #27A4C4;

$light-gray: rgba(228, 231, 236, 0.2);
$border-light: rgba(0, 0, 0, 0.1);
$task-border: #F6E7E7;
$text-color: #000;
$background-light: #F0F3F9;
$edit-color: #FFCC00;
$delete-color: #B22222;
$dialog-bg: #fff;
$overlay-bg: rgba(0, 0, 0, 0.5);
$button-bg: #4CAF50;
$button-hover-bg: #45a049;
$close-btn-bg: #f44336;